<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, user</div>
<form action="/account" method="post">

    <div><label> name : <input type="text" name="familyname"/> </label></div>
    <div><label> family_members : <input type="number" name="familymembers"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />

    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/">AAA</a>
</body>
</html>
